{% extends "base.html" %}
{% block categorycontent %}

   {% for category in categories %}
        <a href="{% url 'products:prod-category' category_id=category.id %}" class="list-group-item"> {{ category.name }}</a>
    {% endfor %}
{% endblock %}

{% block content %}
     <div class="card mt-4">
          <img class="card-img-top img-fluid" src="{{ product.photo }}" height=50 width=50 alt="">
          <div class="card-body">
            <h3 class="card-title">{{ product.name }}</h3>
            <h4>${{ product.price }}</h4>
            <p class="card-text">{{ product.description }}</p>
            <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
            4.0 stars
              <a href="{{ product.get_add_to_cart_url }}"  class="btn btn-primary" >Add To Cart</a>
              <a href="{{ product.get_remove_from_cart_url }}"  class="btn btn-danger" >Remove from Cart</a>

          </div>
        </div>
     <div class="card card-outline-secondary my-4">
          <div class="card-header">
            Product Reviews
          </div>
          <div class="card-body">

              {% for review in reviews %}
              <p> {{ review.comment }}</p>
                <small class="text-muted">Posted by {{review.user}} on 3/1/17</small>
              <hr>
              {% endfor %}

              <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#modal-create-{{product.id}}">Leave a Review</button>
          </div>
        </div>
{% include "review-modal.html" %}

{% endblock %}



